<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>
</head>

<body class="container-centered">

    <form class="login-container" action="/login" method="POST">
        <label class="label" for="">Email</label>
        <input class="imput" type="text" name="email">
        <label class="label" for="">Senha</label>
        <input class="imput" type="password" name="senha">
        <div class="btn-group">
          <button class="btn-login">Entrar</button>
        </div>
    </form>

</body>

</html>