<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <title>Login</title>
</head>

<body class="container-centered">

  <form id="login" class="login-container">
    <label class="label" for="">Email</label>
    <input class="input" type="text" name="email">
    <label class="label" for="">Senha</label>
    <input class="input" type="password" name="senha">
    <div class="btn-group">
      <button id="btn-login" class="btn btn-login">Entrar</button>
    </div>
  </form>

  <script src="../controller/form.js"></script>
</body>
</html>
