<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Nutrition App</title>
</head>

<body>
    <header>
        <div id="logo" class="brand">
            <img src="assets/logo-nutri.png" alt="logo nutricionista">
        </div>
        <div class="nav">
            <button class="btn"><a href="login.html">Login</a></button>
            <nav class="navbar">
                <a>Home</a>
                <a>Sobre</a>
                <a>Serviços</a>
                <a>Contato</a>
            </nav>
        </div>
    </header>
    <!-- <div class="container img1"></div>
    <div class="container img2"></div>
    <div style="margin-top: 300px;"></div> -->
</body>

</html>